<!-- <div class="container-fluid">


There's always a place for you in the world ! </br>
Search City, Country, etc

</div> -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">There's always a place for you in the world!</h1>
    <input class="form-control mr-sm-2" type="text" placeholder="Search City, Country, etc
" aria-label="Search">
  </div>
</div>